#content {
	margin-top:54px;
	height:100vh;
}

#startupCol {
	height:100vh;
	overflow:scroll;
}

.smaller {
	font-size: 14px;
}

a.nav-item {
	color:white;
	cursor: pointer;
}

.map-container {
	height:100vh;
}