
<span ng-if='startups.length == 0' 
	us-spinner></span>

<div class="card-columns">
	<div class="card" ng-repeat='startup in startups track by $index'>
	  <img class="card-img-top" ng-src="{{::startup.thumb_url}}">
	  <div class="card-block">
	    <h3 class="card-title">{{::startup.name}}</h3>
	    <p class="card-text"
	    	ng-if='startup.conceptShown'>{{::startup.high_concept}}</p>
	    <p class="card-text smaller"
	    	ng-if='startup.conceptShown && startup.company_size'>
	    	<b>Company size:</b> {{::startup.company_size}}
	    </p>

	    <div class="btn-group btn-group-sm">
		    <a href ng-if='!startup.descriptionShown && !startup.conceptShown'
		    	class="btn btn-warning-outline" 
		    	ng-click='toggleConcept(startup)'>Concept</a>
		    <a href 
		    	class="btn btn-primary-outline"
		    	ng-click='addFavorite(startup.id, $index)'
		    	ng-if="!startup.favorited">Favorite</a>
		    <a href 
		    	class="btn btn-primary-outline active"
		    	ng-click='removeFavorite(startup.id, $index)'
		    	ng-if="startup.favorited">
		    		<i class="fa fa-check-square-o fa-1"></i> Favorited
		    	</a>
		    <!-- <a href class="btn btn-warning-outline">Map</a> -->
	    </div>
	  </div>

	  <div class="card-footer text-muted" style='cursor:pointer;'
			ng-if='startup.conceptShown && !startup.descriptionShown'
			ng-click='showDescription(startup)'>
			Learn more..
		</div>

	  <div class="card-block" ng-if='startup.descriptionShown'>
	    <a ng-href="{{startup.company_url}}" class="card-link" target='_blank'>Website</a>
	    <a ng-href="{{startup.angellist_url}}" class="card-link" target='_blank'>angel.co</a>
	  </div>
	  <div class="card-block" ng-if='startup.descriptionShown'>
	  	{{::startup.product_desc}}
	  </div>
	  
	  <div class="card-footer text-muted" 
	  	ng-if='startup.descriptionShown'
	  	ng-click='hideDescription(startup)'>
	  	Hide
	  </div>
	</div>
</div>

<div class='row text-center' ng-if='startups.length != 0' >
	<button type="button" class="btn btn-primary btn-lg btn-block" ng-click='loadMoreStartups()'>More</button>
</div>

